@import url('https://fonts.googleapis.com/css?family=Noto+Sans:400,700');
@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro');

body {
  font-family: 'Noto Sans', sans-serif;
  font-size: 15px;
}
footer {
  width: 600px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}

header {
  display: flex;
  justify-content: space-between;  
}

h1, h2, h3, h4,a,p {
  text-align: center;
}



.time-left { 
  margin-left: 20%;
  
}

.lives {
  margin-right: 20%;
}

.game {
  margin: 50px auto;
  width: 415px;
  display: flex;  
}
.card {  
  width: 100px;
  height: 100px;
  margin: 1px;
  border: 1px solid #CACAD8;  
}

.quest {
  background: url(../img/help_filled-100.png);
  cursor: pointer;
}

.quest:hover {
  background: url(../img/help-100.png);
}

.moon {
  background: url(../img/icons8-Moon-100.png)
}

.new-moon {
  background: url(../img/icons8-NewMoon-100.png)  
}

.star {
  background: url(../img/icons8-Star-100.png)
}

.summer {
  background: url(../img/icons8-Summer-100.png)
}

.winter { 
  background: url(../img/icons8-Winter-100.png)
}

.goat {
  background: url(../img/icons8-YearofGoat-100.png)
}

.rabbit {
  background: url(../img/icons8-YearofRabbit-100.png)
}

.rat { 
  background: url(../img/icons8-YearofRat-100.png)
}

.sigma {
  background: url(../img/icons8-Sigma-100.png)
}

.credit {

}